/* ================================================== */
/* Tag Pills */
.tag {
  background-color: var(--text-accent);
  border: none;
  color: var(--text-normal) !important;
  font-size: 12px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
  position: relative;
  top: -2px;
}
.tag:hover {
color: white;
background-color: var(--text-accent-hover);
}
/* ================================================== */

/* ================================================== */
/* Tag Colours */

/* priority */
.tag[href^="#low"] {
  background-color: var(--faded-aqua);
}
.tag[href^="#medium"] {
  background-color: var(--faded-yellow);
}
.tag[href^="#high"] {
  background-color: var(--faded-orange);
}
.tag[href^="#critical"] {
  background-color: var(--faded-red);
}


.tag[href^="#Cancelled"] {
  background-color: var(--faded-red);
}

/* ================================================== */